@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color: #A65D85;
    --dark-color: #68328C;
    --heading-color: #D9D2D0;
    --contrast-color: #BF7463;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(282deg, rgba(100, 58, 138, 0.5) 0%, rgba(100, 58, 138, 0.5) 14.286%,
    rgba(125, 75, 135, 0.5) 14.286%, rgba(125, 75, 135, 0.5) 28.572%,rgba(150, 92, 132, 0.5) 28.572%,
     rgba(150, 92, 132, 0.5) 42.858%,rgba(176, 109, 129, 0.5) 42.858%, rgba(176, 109, 129, 0.5) 57.144%,
     rgba(201, 126, 125, 0.5) 57.144%, rgba(201, 126, 125, 0.5) 71.43%,rgba(226, 143, 122, 0.5) 71.43%,
      rgba(226, 143, 122, 0.5) 85.716%,rgba(251, 160, 119, 0.5) 85.716%, rgba(251, 160, 119, 0.5) 100.002%),
      linear-gradient(247deg, rgb(86, 8, 174) 0%, rgb(86, 8, 174) 14.286%,rgb(101, 26, 154) 14.286%, 
      rgb(101, 26, 154) 28.572%,rgb(117, 43, 135) 28.572%, rgb(117, 43, 135) 42.858%,rgb(132, 61, 115) 42.858%, 
      rgb(132, 61, 115) 57.144%,rgb(147, 79, 95) 57.144%, rgb(147, 79, 95) 71.43%,rgb(163, 96, 76) 71.43%,
       rgb(163, 96, 76) 85.716%,rgb(178, 114, 56) 85.716%, rgb(178, 114, 56) 100.002%);
    
}


h1, h2, h3{
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
    color: var(--heading-color);
}

a {
    color: var(--body-color);
    text-decoration-color: var(--light-color);
}

a:hover{
    color: var(--dark-color);
    text-decoration-color: var(--dark-color);
}

body#about img {
    height: 15em;
}

p {
    max-width: 50em;
}
body {
    display: grid;
    grid-template-areas: "head head"
                          "nav nav"
                          "main main"
                          "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;

}

@media screen and (min-width: 25em){
    body {
        grid-template-areas: "head head"
                              "nav main"
                              "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}

body > * {
    padding-left : var(--horizontal-space);
    padding-right : var(--horizontal-space);
}

body > header {
    grid-area: head;
}

body > nav {
    grid-area: nav
}

body > nav ul {
    list-style-type: none;
    padding: 0;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: foot;
    color: var(--heading-color);
}

header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 25em){
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}

#flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#lCol {
    flex: 0 1 50%
}

#rCol {
    flex: 0 1 50%
}

.l-catergory{
    background-color: rgb(217, 210, 208, 0.4);
    margin-right: 10px;
}

.r-catergory{
    background-color: rgb(217, 210, 208, 0.4);
    margin-left: 10px;
}

#about {
    background-color: rgb(217, 210, 208, 0.4);
}

/* 
#educationList {
    list-style-type: none;
} */