@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300&display=swap');

/* <------- Universal CSS -------> */
:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color: #A65D85;
    --dark-color: #68328C;
    --heading-color: #D9D2D0;
    --contrast-color: #BF7463;

    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    color: var(--heading-color);
}

body {
    background-color: #f0d0c7;
}

.navbar {
    background-color: var(--contrast-color);
    justify-content: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-content: center;
}

header {
    text-align: center;
}

.nav-tabs .nav-link {
    font-family: var(--secondary-font);
    color: white;
}

.nav {
    gap: 30px;
}

header > h1 {
    line-height: 1.2;
    font-size: 4rem;
    color: var(--contrast-color);
    font-family: var(--primary-font);
    margin-bottom: 30px;
}

p {
    margin: 30px 10px 0px;
    text-align: center;
    color: #9e5646;
    font-family: var(--secondary-font);
    line-height: 1.6;
    font-size: 14px;
    background-color: rgba(250, 250, 250, 0.7);
    border: 1px #9e5646 solid;
    border-radius: 20px;
    padding: 15px;
}

#aboutPage img {
    width: 150px;
    
}

#aboutImg {
    text-align: center;
}

footer {
    font-family: var(--primary-font);
    color: #9e5646;
    font-size: 14px;
}

/* All of the pages use the CSS Grid-System for layout.
The body acts as the Grid Container, with the children serving
as the Grid Items. */
.div-grid {

    /* Where the CSS-layout gets defined*/
    display: grid; 
    /* Specifies the layout using the named grid items */
    /* grid-template-areas:  "main main"
                          "foot foot"; */
    /* Defines the Containers's number of columns/rows and optionally the width of each column */
    grid-template-columns: auto auto auto;

}

.hidden {
    display: none;
}

.resizing-header {
    animation-name: resizing-header;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.resizing-img {
    animation-name: resizing-img;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.resizing-text {
    animation-name: resizing-text;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.fade-in-footer {
    animation-name: fade-in-footer;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes resizing-header {
    0% {
        font-size: 7rem;
        white-space: nowrap;
        position: relative;
        top: 450px;
    }

    100% {
        position: relative;
        top: 0px;
    }
}

@keyframes resizing-img {
    0% {
        position: relative;
        top: 285px;
    }

    100% {
        position: relative;
        top: 0px;
    }
}

@keyframes resizing-text {
    0% {
        position: relative;
        top: 70px;
    }

    100% {
        position: relative;
        top: 0px;
    }
}

@keyframes fade-in-footer {
    0% {
        color: #f0d0c7;
    }

    100% {
        color: #9e5646;
    }
}